In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
path="C://Users//david\Desktop//VU amsterdam//Data mining"
train = pd.read_csv(path+"/Feature_engineering_train.csv")
train.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,...,srch_query_affinity_score,random_bool,click_bool,gross_bookings_usd,booking_bool,starrating_diff,usd_diff,booked_percentage,clicked_percentage,avg_comp_rate
0,0,0,0,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,1.075269,0.00
1,1,1,1,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.680272,1.00
2,2,2,2,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.00
3,3,3,3,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.00
4,4,4,4,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,...,-326.5675,1,0,NaN,0,6.0,1.1,3.488372,5.813953,0.75

In [3]:
train= train.drop(["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1"],axis=1)
train

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,srch_query_affinity_score,random_bool,click_bool,gross_bookings_usd,booking_bool,starrating_diff,usd_diff,booked_percentage,clicked_percentage,avg_comp_rate
0,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,7011,2,2.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,1.075269,0.000000
1,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,8797,2,2.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.680272,1.000000
2,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,14530,3,5.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
3,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,15770,2,2.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
4,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,20295,3,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,3.488372,5.813953,0.750000
5,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,22013,3,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,1.657459,4.972376,0.000000
6,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,25236,4,3.0,...,-326.5675,1,0,NaN,0,6.0,1.1,4.145078,7.772021,0.000000
7,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,27142,4,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,2.325581,6.201550,0.000000
8,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,31166,2,3.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.847458,0.847458,0.000000
9,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,31486,4,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,1.507538,6.030151,0.250000
10,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37124,4,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,10.982659,21.387283,0.000000
11,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37304,2,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.602410,0.250000
12,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37543,4,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,6.962025,8.860759,0.666667
13,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,42011,3,3.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.854701,3.418803,0.000000
14,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,43657,4,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,3.645833,8.333333,0.250000
15,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,48375,4,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,2.808989,11.235955,0.250000
16,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,55050,2,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,1.360544,1.360544,-0.500000
17,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,59322,3,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.609756,1.219512,0.000000
18,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,62237,2,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.699301,2.097902,0.000000
19,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,68833,2,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,1.250000,-0.500000
20,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,72189,2,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
21,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,77411,1,3.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.757576,0.757576,0.000000
22,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,79235,2,3.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,1.234568,0.250000
23,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,79537,4,4.0,...,-326.5675,1,1,NaN,0,6.0,1.1,1.183432,4.142012,-1.000000
24,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,85321,3,4.5,...,-326.5675,1,0,NaN,0,6.0,1.1,1.754386,4.093567,0.000000
25,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,88316,2,3.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,1.010101,0.000000
26,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,90836,2,2.5,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,-1.000000
27,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,95182,4,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,1.197605,7.185629,0.000000
28,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,102874,4,4.0,...,-326.5675,1,0,NaN,0,6.0,1.1,2.985075,9.452736,0.000000
29,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,103197,2,3.0,...,-326.5675,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477869,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,76828,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477870,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,85443,3,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477871,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,90215,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,6.666667,0.000000
1477872,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,95198,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,12.500000,0.000000
1477873,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,102197,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,5.882353,5.882353,0.000000
1477874,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,102902,3,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477875,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,106427,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,16.666667,0.000000
1477876,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,114208,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477877,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,124697,3,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,6.666667,13.333333,0.000000
1477878,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,127896,4,4.0,...,-326.5675,0,1,108.03,1,6.0,1.1,5.882353,11.764706,0.000000
1477879,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,129676,4,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,5.555556,0.000000
1477880,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,138216,3,3.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477881,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,803,5,5.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477882,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,5491,5,5.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,10.000000,-0.250000
1477883,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,10236,4,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,16.666667,0.250000
1477884,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,10813,4,2.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477885,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,18028,4,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-0.250000
1477886,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,20189,4,4.0,...,-326.5675,0,1,516.81,1,6.0,1.1,25.000000,25.000000,0.500000
1477887,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,21710,5,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-1.000000
1477888,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,26335,5,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,25.000000,25.000000,-1.000000
1477889,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,45616,5,5.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,1.000000
1477890,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,47277,5,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-0.500000
1477891,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,58623,5,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477892,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,75519,4,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-0.250000
1477893,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,85813,5,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,14.285714,0.000000
1477894,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,86260,5,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.333333
1477895,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,95453,4,3.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477896,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,101385,5,4.5,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.333333
1477897,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,115253,4,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000
1477898,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,119849,4,4.0,...,-326.5675,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000

### Modify the dataset for RandomForest regression and other standard ML algorithm

In [4]:
#Adding Score columns: 5 for booked, 1 clicked and 0 the rest
def assign_score(x):
    if x["booking_bool"]==1:
        val=5
    elif x["click_bool"]==1:
        val=1
    else:
        val=0
    return val
    

train['score'] = train.apply(assign_score , axis=1)

In [5]:
train

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,random_bool,click_bool,gross_bookings_usd,booking_bool,starrating_diff,usd_diff,booked_percentage,clicked_percentage,avg_comp_rate,score
0,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,7011,2,2.0,...,1,0,NaN,0,6.0,1.1,0.000000,1.075269,0.000000,0
1,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,8797,2,2.5,...,1,0,NaN,0,6.0,1.1,0.000000,0.680272,1.000000,0
2,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,14530,3,5.0,...,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
3,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,15770,2,2.5,...,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
4,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,20295,3,4.0,...,1,0,NaN,0,6.0,1.1,3.488372,5.813953,0.750000,0
5,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,22013,3,3.5,...,1,0,NaN,0,6.0,1.1,1.657459,4.972376,0.000000,0
6,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,25236,4,3.0,...,1,0,NaN,0,6.0,1.1,4.145078,7.772021,0.000000,0
7,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,27142,4,4.0,...,1,0,NaN,0,6.0,1.1,2.325581,6.201550,0.000000,0
8,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,31166,2,3.0,...,1,0,NaN,0,6.0,1.1,0.847458,0.847458,0.000000,0
9,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,31486,4,4.0,...,1,0,NaN,0,6.0,1.1,1.507538,6.030151,0.250000,0
10,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37124,4,4.0,...,1,0,NaN,0,6.0,1.1,10.982659,21.387283,0.000000,0
11,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37304,2,3.5,...,1,0,NaN,0,6.0,1.1,0.000000,0.602410,0.250000,0
12,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37543,4,3.5,...,1,0,NaN,0,6.0,1.1,6.962025,8.860759,0.666667,0
13,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,42011,3,3.0,...,1,0,NaN,0,6.0,1.1,0.854701,3.418803,0.000000,0
14,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,43657,4,4.0,...,1,0,NaN,0,6.0,1.1,3.645833,8.333333,0.250000,0
15,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,48375,4,3.5,...,1,0,NaN,0,6.0,1.1,2.808989,11.235955,0.250000,0
16,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,55050,2,3.5,...,1,0,NaN,0,6.0,1.1,1.360544,1.360544,-0.500000,0
17,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,59322,3,3.5,...,1,0,NaN,0,6.0,1.1,0.609756,1.219512,0.000000,0
18,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,62237,2,3.5,...,1,0,NaN,0,6.0,1.1,0.699301,2.097902,0.000000,0
19,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,68833,2,3.5,...,1,0,NaN,0,6.0,1.1,0.000000,1.250000,-0.500000,0
20,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,72189,2,3.5,...,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
21,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,77411,1,3.0,...,1,0,NaN,0,6.0,1.1,0.757576,0.757576,0.000000,0
22,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,79235,2,3.0,...,1,0,NaN,0,6.0,1.1,0.000000,1.234568,0.250000,0
23,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,79537,4,4.0,...,1,1,NaN,0,6.0,1.1,1.183432,4.142012,-1.000000,1
24,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,85321,3,4.5,...,1,0,NaN,0,6.0,1.1,1.754386,4.093567,0.000000,0
25,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,88316,2,3.5,...,1,0,NaN,0,6.0,1.1,0.000000,1.010101,0.000000,0
26,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,90836,2,2.5,...,1,0,NaN,0,6.0,1.1,0.000000,0.000000,-1.000000,0
27,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,95182,4,4.0,...,1,0,NaN,0,6.0,1.1,1.197605,7.185629,0.000000,0
28,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,102874,4,4.0,...,1,0,NaN,0,6.0,1.1,2.985075,9.452736,0.000000,0
29,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,103197,2,3.0,...,1,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477869,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,76828,4,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477870,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,85443,3,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477871,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,90215,4,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,6.666667,0.000000,0
1477872,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,95198,4,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,12.500000,0.000000,0
1477873,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,102197,4,4.5,...,0,0,NaN,0,6.0,1.1,5.882353,5.882353,0.000000,0
1477874,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,102902,3,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477875,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,106427,4,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,16.666667,0.000000,0
1477876,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,114208,4,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477877,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,124697,3,4.5,...,0,0,NaN,0,6.0,1.1,6.666667,13.333333,0.000000,0
1477878,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,127896,4,4.0,...,0,1,108.03,1,6.0,1.1,5.882353,11.764706,0.000000,5
1477879,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,129676,4,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,5.555556,0.000000,0
1477880,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,138216,3,3.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477881,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,803,5,5.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477882,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,5491,5,5.0,...,0,0,NaN,0,6.0,1.1,0.000000,10.000000,-0.250000,0
1477883,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,10236,4,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,16.666667,0.250000,0
1477884,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,10813,4,2.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477885,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,18028,4,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-0.250000,0
1477886,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,20189,4,4.0,...,0,1,516.81,1,6.0,1.1,25.000000,25.000000,0.500000,5
1477887,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,21710,5,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-1.000000,0
1477888,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,26335,5,4.0,...,0,0,NaN,0,6.0,1.1,25.000000,25.000000,-1.000000,0
1477889,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,45616,5,5.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,1.000000,0
1477890,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,47277,5,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-0.500000,0
1477891,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,58623,5,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477892,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,75519,4,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,-0.250000,0
1477893,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,85813,5,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,14.285714,0.000000,0
1477894,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,86260,5,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.333333,0
1477895,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,95453,4,3.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477896,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,101385,5,4.5,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.333333,0
1477897,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,115253,4,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0
1477898,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,119849,4,4.0,...,0,0,NaN,0,6.0,1.1,0.000000,0.000000,0.000000,0

In [7]:
#add month columns and drop some useless columns
train["date_time"] = pd.to_datetime(train["date_time"])
train["month"] = train["date_time"].dt.month
train = train.drop(["srch_id", "date_time"], axis=1)

In [8]:
#columns with Nan
train.columns[train.isna().any()].tolist()

['visitor_hist_starrating', 'visitor_hist_adr_usd', 'gross_bookings_usd']

In [9]:
#fill Nan
train=train.drop("gross_bookings_usd",axis=1)
values = {'visitor_hist_starrating': 0, 'visitor_hist_adr_usd': 0}
train=train.fillna(value=values)

In [16]:
np.all(np.isfinite(train))

False

In [24]:
#there are some infinite values in usd_diff
train= train.replace([np.inf, -np.inf], np.nan)
train.columns[train.isna().any()].tolist()
train=train.fillna(value={"usd_diff":0})

In [20]:
train.head()

,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,random_bool,click_bool,booking_bool,starrating_diff,usd_diff,booked_percentage,clicked_percentage,avg_comp_rate,score,month
0,5,219,0.0,0.0,219,7011,2,2.0,1,2.94,...,1,0,0,6.0,1.1,0.000000,1.075269,0.00,0,1
1,5,219,0.0,0.0,219,8797,2,2.5,1,2.71,...,1,0,0,6.0,1.1,0.000000,0.680272,1.00,0,1
2,5,219,0.0,0.0,219,14530,3,5.0,1,1.61,...,1,0,0,6.0,1.1,0.000000,0.000000,0.00,0,1
3,5,219,0.0,0.0,219,15770,2,2.5,1,2.89,...,1,0,0,6.0,1.1,0.000000,0.000000,0.00,0,1
4,5,219,0.0,0.0,219,20295,3,4.0,1,3.47,...,1,0,0,6.0,1.1,3.488372,5.813953,0.75,0,1

In [25]:
np.all(np.isfinite(train))

True

### separate labels

In [26]:
y=train["score"]
X=train.drop("score", axis=1)

In [27]:
np.all(np.isfinite(X))

True

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [30]:
regr = RandomForestRegressor(random_state=1, n_estimators=100, n_jobs=-1)
rfr = regr.fit(X_train, y_train)
print(rfr.score(X_test, y_test))

1.0

In [32]:
prediction = rfr.predict(X_test)

In [40]:
prediction_s = pd.Series(prediction)
prediction_s

0         0.0
1         0.0
2         0.0
3         0.0
4         5.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        5.0
15        1.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        1.0
29        0.0
         ...
295550    0.0
295551    0.0
295552    0.0
295553    0.0
295554    0.0
295555    0.0
295556    0.0
295557    0.0
295558    0.0
295559    0.0
295560    0.0
295561    0.0
295562    0.0
295563    0.0
295564    0.0
295565    0.0
295566    0.0
295567    0.0
295568    0.0
295569    0.0
295570    0.0
295571    0.0
295572    0.0
295573    0.0
295574    0.0
295575    0.0
295576    0.0
295577    0.0
295578    0.0
295579    0.0
Length: 295580, dtype: float64

In [41]:
y_test

607429     0
796578     0
582150     0
237112     0
1359455    5
756082     0
631098     0
390556     0
160436     0
110536     0
417716     0
1251672    0
923897     0
936397     0
991903     5
505500     1
677498     0
90176      0
454777     0
250879     0
682455     0
611956     0
1134635    0
1464298    0
496565     0
452130     0
515261     0
52985      0
1140433    1
1008031    0
          ..
785148     0
661053     0
883341     0
1435374    0
220413     0
49155      0
1222849    0
947725     0
372209     0
899241     0
421040     0
799782     0
1356945    0
929745     0
633741     0
1473620    0
242445     0
718225     0
1128342    0
166567     0
448336     0
1050381    0
1412176    0
508750     0
1007995    0
82906      0
1159128    0
680030     0
1431475    0
1223536    0
Name: score, Length: 295580, dtype: int64