In [15]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [13]:
path="C://Users//david\Desktop//VU amsterdam//Data mining"
train = pd.read_csv(path+"/Preprocessed_train.csv")
train.head()

,Unnamed: 0,Unnamed: 0.1,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,0,0,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,7011,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,1,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,8797,...,NaN,NaN,NaN,NaN,1.0,0.0,34.0,0,NaN,0
2,2,2,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,14530,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,3,3,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,15770,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
4,4,4,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,20295,...,NaN,NaN,NaN,NaN,1.0,0.0,42.0,0,NaN,0

### Modify the dataset for RandomForest regression and other standard ML algorithm

In [6]:
#Adding Score columns: 5 for booked, 1 clicked and 0 the rest
def assign_score(x):
    if x["booking_bool"]==1:
        val=5
    elif x["click_bool"]==1:
        val=1
    else:
        val=0
    return val
    

train['score'] = train.apply(assign_score , axis=1)

In [7]:
train

,Unnamed: 0,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,...,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool,score
0,0,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,7011,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
1,1,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,8797,2,...,NaN,NaN,NaN,1.0,0.0,34.0,0,NaN,0,0
2,2,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,14530,3,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
3,3,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,15770,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
4,4,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,20295,3,...,NaN,NaN,NaN,1.0,0.0,42.0,0,NaN,0,0
5,5,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,22013,3,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
6,6,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,25236,4,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
7,7,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,27142,4,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
8,8,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,31166,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
9,9,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,31486,4,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
10,10,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37124,4,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
11,11,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37304,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
12,12,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,37543,4,...,NaN,NaN,NaN,1.0,0.0,3.0,0,NaN,0,0
13,13,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,42011,3,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
14,14,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,43657,4,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
15,15,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,48375,4,...,NaN,NaN,NaN,0.0,0.0,5.0,0,NaN,0,0
16,16,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,55050,2,...,NaN,NaN,NaN,-1.0,0.0,20.0,0,NaN,0,0
17,17,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,59322,3,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
18,18,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,62237,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
19,19,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,68833,2,...,NaN,NaN,NaN,-1.0,0.0,6.0,0,NaN,0,0
20,20,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,72189,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
21,21,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,77411,1,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
22,22,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,79235,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
23,23,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,79537,4,...,NaN,NaN,NaN,-1.0,0.0,8.0,1,NaN,0,1
24,24,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,85321,3,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
25,25,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,88316,2,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
26,26,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,90836,2,...,NaN,NaN,NaN,-1.0,0.0,13.0,0,NaN,0,0
27,27,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,95182,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
28,28,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,102874,4,...,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0,0
29,29,43,2013-01-09 16:45:45,5,219,NaN,NaN,219,103197,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1477869,1477869,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,76828,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477870,1477870,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,85443,3,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477871,1477871,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,90215,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477872,1477872,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,95198,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477873,1477873,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,102197,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477874,1477874,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,102902,3,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477875,1477875,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,106427,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477876,1477876,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,114208,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477877,1477877,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,124697,3,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477878,1477878,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,127896,4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,108.03,1,5
1477879,1477879,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,129676,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477880,1477880,332738,2012-12-26 15:56:42,14,100,NaN,NaN,45,138216,3,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477881,1477881,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,803,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477882,1477882,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,5491,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477883,1477883,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,10236,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477884,1477884,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,10813,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477885,1477885,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,18028,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477886,1477886,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,20189,4,...,NaN,NaN,NaN,NaN,NaN,NaN,1,516.81,1,5
1477887,1477887,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,21710,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477888,1477888,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,26335,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477889,1477889,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,45616,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477890,1477890,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,47277,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477891,1477891,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,58623,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477892,1477892,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,75519,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477893,1477893,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,85813,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477894,1477894,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,86260,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477895,1477895,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,95453,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477896,1477896,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,101385,5,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477897,1477897,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,115253,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0
1477898,1477898,332754,2012-12-16 22:20:13,19,158,NaN,NaN,117,119849,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0

In [9]:
#add month columns and drop some useless columns
train["date_time"] = pd.to_datetime(train["date_time"])
train["month"] = train["date_time"].dt.month
train = train.drop(["Unnamed: 0","srch_id", "date_time"], axis=1)

### separate labels

In [10]:
y=train["score"]
X=train.drop("score", axis=1)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [17]:
regr = RandomForestRegressor(random_state=1, n_estimators=100, n_jobs=-1)
rfr = regr.fit(X_train, y_train)
#prediction = rft.predict(X_test)
print(model.score(X_test, y_test))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').